{% extends 'base.html' %}

{% block page_title %}
{{page_title}}
{% endblock page_title %}

{% block contents %}
<div class="bradcam_area bradcam_bg_2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>About</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- service_details_start  -->
<div class="service_details_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="service_details_left">
          <h3>About</h3>
          <div
            class="nav nav-pills"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <a
              class=" active"
              id="v-pills-home-tab"
              data-toggle="pill"
              href="#v-pills-home"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
            >History</a>
            <a
              class=""
              id="v-pills-profile-tab"
              data-toggle="pill"
              href="#v-pills-profile"
              role="tab"
              aria-controls="v-pills-profile"
              aria-selected="false"
            >Service</a>
            <a
              class=""
              id="v-pills-messages-tab"
              data-toggle="pill"
              href="#v-pills-messages"
              role="tab"
              aria-controls="v-pills-messages"
              aria-selected="false"
            >Team</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div
          class="tab-content"
          id="v-pills-tabContent"
        >
          <div
            class="tab-pane fade show active"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
          >
            <div class="service_details_info">
              <h3>History</h3>
              <p>Gatotkaca Network adalah Perusahaan jasa yang memberikan berbagai layanan kebutuhan, 
                seperti Network Installation, desain grafis, vidio editor, membuat aplikasi 
                (website, dekstop, dan android),desain rumah 3D, dan menawarkan hunian kamar kost 
                untuk mahasiswa yang belajar di Yogyakara. Gatotkaca Network resmi dirikan pada tahun 2022 sebagai perusahaan di bidang jasa.
              </p>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div class="service_details_info">
              <h3>Service</h3>
              <p>Kami membantu anda untuk menjadi partner yang baik untuk usaha anda.
                Jaminan kedisiplinan, kualitas terbaik, respon cepat, dan kejujuran, adalah target utama kami..
              </p>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <div class="service_details_info">
              <h3>Team</h3>
              <p>kami memiliki anggota profesional yang berpengalaman sesuai dengan bidang masing-masing.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contents %}