{% extends 'base.html' %}
{% load static %}

{% block page_title %}
- Project
{% endblock page_title %}


{% block contents %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>Project</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ bradcam_area  -->

<!--================Blog Area =================-->
<section class="blog_area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="blog_left_sidebar">
        {% for project in project_list %}
          <article class="blog_item">
            <div class="blog_item_img">
              <img
                class="card-img rounded-0"
                src="{{project.cover.url}}"
                alt="cover img"
                
              >
              <a
                href="#"
                class="blog_item_date"
              >
                <h3>{{project.published|date:"d"}}</h3>
                <p>{{project.published|date:"M Y"}}</p>
              </a>
            </div>

            <div class="blog_details">
              <a
                class="d-inline-block"
                href="{% url 'project:detail' project.slug %}"
              >
                <h2>{{project.judul|title}}</h2>
              </a>
              <p>{{project.isi|truncatewords:50}}</p>
              <ul class="blog-info-link">
                <li><a href="#"><i class="fa fa-user"></i> {{project.kategori|title}}</a></li>
                <li><a href="#"><i class="fa fa-comments"></i>{{project.published|date:"d F Y"}}</a></li>
              </ul>
            </div>
          </article>
          {% endfor %}

          <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">

              {% if page_obj.has_previous %}
              <li class="page-item">
                <a
                  href="{% url 'project:list' page_obj.previous_page_number %}"
                  class="page-link"
                  aria-label="Previous"
                >
                  <i class="ti-angle-left"></i>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a
                  href="#"
                  class="page-link"
                  aria-label="Previous"
                >
                  <i class="ti-angle-left"></i>
                </a>
              </li>
              {% endif %}

              {% for page in paginator.page_range %}
              {% if page is page_obj.number %}
              <li class="page-item">
                <span
                  href="#"
                  class="page-link"
                >{{page}}<span class="sr-only">(current)></span></span>
              </li>
              {% else %}
              <li class="page-item">
                <a
                  href="{% url 'project:list' page %}"
                  class="page-link"
                >{{page}}</a>
              </li>
              {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
              <li class="page-item">
                <a
                  href="{% url 'project:list' page_obj.next_page_number%}"
                  class="page-link"
                  aria-label="Next"
                >
                  <i class="ti-angle-right"></i>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a
                  href="#"
                  class="page-link"
                  aria-label="Next"
                >
                  <i class="ti-angle-right"></i>
                </a>
              </li>
              {% endif %}

            </ul>
          </nav>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
            <form method='GET' name="contact-form" action="{% url 'project:list' 1 %}">
              {% csrf_token %}
              <div class="form-group">
                <div class="input-group mb-3">
                  <input
                    type="search"
                    name="Searched"
                    class="form-control"
                    placeholder='Search Keyword'
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Search Keyword'"
                    value="{{request.GET.Searched}}"
                  >
                  <div class="input-group-append">
                    <button
                      class="btn"
                      type="submit"
                      id="submit"
                      onclick="submitForm()"
                    ><i class="ti-search"></i></button>
                  </div>
                </div>
              </div>
              <button
                class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                type="submit"
              >Search</button>
            </form>
          </aside>

          <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Category</h4>
            <ul class="list cat-list">
              {% for kategori_count in kategori_count %}
              <li>
                <a
                  href="{% url 'project:kategori' kategori_count.kategori %}"
                  class="d-flex"
                >
                  <p>{{kategori_count.kategori}}</p>
                  <p>&nbsp;({{kategori_count.category_count}})</p>
                </a>
              </li>
              {% endfor %}
            </ul>
          </aside>

        </div>
      </div>
    </div>
  </div>
</section>
<!--================Blog Area =================-->

<script>
  function submitForm() {
  document.contact-form.submit();
  document.contact-form.reset();
  }
</script>
{% endblock contents %}