{% extends 'base.html' %}
{% load static %}

{% block page_title %}
{{page_title}}
{% endblock page_title %}

{% block contents %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <h3>Kost</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ bradcam_area  -->
<div class="service_details_area">
    <div style="margin-left: 50px; margin-right: 50px">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="service_details_left">
                            <img src="{% static 'vendor/img/kost/1.JPG' %}" alt="img" width="570px">
                    <div class="container">
                        <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class=" active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                                aria-controls="v-pills-home" aria-selected="true">About</a>
                            <a class="" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                                aria-controls="v-pills-messages" aria-selected="false">Foto</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <div class="service_details_info">
                        <div >
                            <h3>Gatotkaca Kost</h3>
                            <h4>Rp.500.000,-</h4>
                            <p>Kost putra dengan harga sangat terjangkau cuma Rp.500.000 aja. lingkungan
                                bersih,sejuk,nyaman dan asri. Tersedia dapur bersama,ruang tamu bersama,ruang
                                santai,FREE Wi-Fi.Harga di atas sudah termasuk listrik dan air.bonus kasur dan bantal
                                jika masih tersedia<br>
                                <br>
                                kost ini dekat dgn :<br>

                                -Puskesmas<br>

                                -warung makan<br>

                                -tempat ibadah<br>

                                -pusat pembelanjaan<br>

                                -Stadion Maguwoharjo<br>
                                <br>
                                kampus :<br>

                                - UPN<br>

                                - AMIKOM<br>

                                - Sanata Dharma<br>

                                - uii ekonomi<br>

                                - dll<br>
                                <br>
                                HUB : 0819-0387-4977
                            </p>
                        </div>
                        </div>
                        {% comment %} <div class="service_thumb">
                            <img class="img-fluid" src="img/service/service_details.png" alt="">
                        </div> {% endcomment %}
                        {% comment %} <div class="accordion_area">
                            <div class="faq_ask">
                                <h3>Frequently ask</h3>
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                    Adieus who direct esteem <span>It esteems
                                                        luckily?</span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                            data-parent="#accordion" style="">
                                            <div class="card-body">Esteem spirit temper too say adieus who
                                                direct esteem esteems luckily or picture placing drawing.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="false"
                                                    aria-controls="collapseOne">
                                                    Who direct esteem It esteems?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                            data-parent="#accordion" style="">
                                            <div class="card-body">Esteem spirit temper too say adieus who
                                                direct esteem esteems luckily or picture placing drawing.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                    Duis consectetur feugiat auctor?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                            data-parent="#accordion" style="">
                                            <div class="card-body">Esteem spirit temper too say adieus who
                                                direct esteem esteems luckily or picture placing drawing.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        {% comment %} <div class="download_brochure d-flex align-items-center justify-content-between">
                            <div class="download_left d-flex align-items-center">
                                <div class="icon">
                                    <img src="img/svg_icon/download.svg" alt="">
                                </div>
                                <div class="download_text">
                                    <h3>Download Our Brochure</h3>
                                    <p>Esteem spirit temper too say adieus who direct.</p>
                                </div>
                            </div>
                            <div class="download_right">
                                <a class="boxed-btn3-line" href="#">Download Now</a>
                            </div>
                        </div> {% endcomment %}
                    </div>

                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                                        <h3>Foto</h3>
                                        <div class="row gallery-item">
                                            <div class="col-md-3 mt-1">
                                                <a href="{% static 'vendor/img/kost/1.JPG' %}" class="img-pop-up">
                                                    <img src="{% static 'vendor/img/kost/1.JPG' %}" alt="img" width="300px">
                                                </a>
                                            </div>
                                            <div class="col-md-3 mt-1">
                                                <a href="{% static 'vendor/img/kost/2.JPG' %}" class="img-pop-up">
                                                    <img src="{% static 'vendor/img/kost/2.JPG' %}" alt="img" width="300px">
                                                </a>
                                            </div>
                                            <div class="col-md-3 mt-1">
                                                <a href="{% static 'vendor/img/kost/3.JPG' %}" class="img-pop-up">
                                                    <img src="{% static 'vendor/img/kost/3.JPG' %}" alt="img" width="300px">
                                                </a>
                                            </div>
                                            <div class="col-md-3 mt-1">
                                                <a href="{% static 'vendor/img/kost/4.JPG' %}" class="img-pop-up">
                                                    <img src="{% static 'vendor/img/kost/4.JPG' %}" alt="img" width="300px">
                                                </a>
                                            </div>
                                            <div class="col-md-3 mt-1">
                                                <a href="{% static 'vendor/img/kost/5.JPG' %}" class="img-pop-up">
                                                    <img src="{% static 'vendor/img/kost/5.JPG' %}" alt="img" width="300px">
                                                </a>
                                            </div>
                                            <div class="col-md-3 mt-1">
                                                <a href="{% static 'vendor/img/kost/6.JPG' %}" class="img-pop-up">
                                                    <img src="{% static 'vendor/img/kost/6.JPG' %}" alt="img" width="300px">
                                                </a>
                                            </div>
                                            <div class="col-md-3 mt-1">
                                                <a href="{% static 'vendor/img/kost/7.JPG' %}" class="img-pop-up">
                                                    <img src="{% static 'vendor/img/kost/7.JPG' %}" alt="img" width="300px">
                                                </a>
                                            </div>
                                            <div class="col-md-3 mt-1">
                                                <a href="{% static 'vendor/img/kost/8.png' %}" class="img-pop-up">
                                                    <img src="{% static 'vendor/img/kost/8.png' %}" alt="img" width="300px">
                                                </a>
                                            </div>
                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}