{% load static %}

<div class="contact_location">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-6 col-md-6">
                <div class="location_left">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'vendor/img/Gart3.png' %}" alt="">
                        </a>
                        <br><br><br>
                        <div class="col-xl-8 col-md-8">
                            <div class="single_location">
                            <ul>
                            <li><a target='blank' href="https://wa.me/6281903874977?text=Hallo,%20Gatotkaca!"> <i class="fa fa-whatsapp"></i> </a></li>
                            <li><a target='blank' href="mailto:gatotkacanetwork@gmail.com"> <i class="fa fa-envelope"></i> </a></li>
                            <li><a target='blank' href="https://www.instagram.com/gatotkaca.art/"> <i class="fa fa-instagram"></i> </a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Company
                        </h3>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="{% url 'project:list' 1%}">Project</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-3 col-md-4 col-lg-1">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Kost
                        </h3>
                        <ul>
                            <li><a href="/kost">Home kost</a></li>
                            <li><a target='blank' href="https://kost.gatotkaca-network.com/">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-lg-1">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Market
                        </h3>
                        <ul>
                            <li><a target='blank' href="https://www.tokopedia.com/gatotkacamarket-">Tokopedia</ target='blank'></li>
                            <li><a target='blank' href="#">olx</a></li>
                            <li><a target='blank' href="https://shopee.co.id/dzikri_noval"> Shopee</a></li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>


            <div class="col-xl-1 col-md-1">
                <div class="single_location">
                    <h3> <img src="{% static 'vendor/img/icon/address.svg' %}" alt=""> Location</h3>
                    <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d247.09035073784804!2d110.41095254667073!3d-7.74246725176772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2dc925d183a4f572!2sGatotkaca-Network!5e0!3m2!1sid!2sid!4v1640319265576!5m2!1sid!2sid"
                        width="350" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>

<footer class="footer">
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center"> &copy;
                        <script>document.write(new Date().getFullYear());</script> Developed by <a href="/">Gatotkaca Network</a>
                       
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

