{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block page_title %}

        {% endblock page_title %}
    </title>
    <link rel="icon" href="{% static 'vendor/logo/Gartnew.png' %}" type="image/x-icon">
    {% include 'snippets/styles.html' %}
</head>

<body>
    {% include 'snippets/navbar.html' %}

    {% block contents %}

    {% endblock contents %}

    {% include 'snippets/footer.html' %}

    {% include 'snippets/scripts.html' %}
</body>

</html>